@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
h1, h2, h3, h4, h5 {
    color: #324376;
    margin-top: 10px;
    margin-bottom: 10px;
}
a, li, p {
    font-size: 20px;
    color: #324376;
}
body, html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
body {
    margin-top: 50px;
}
.container-fluid, .container {
    padding-right: 0px;
    padding-left: 0px;
}
.brand-logo {
    width: 15em;
    margin-top: -0.8em;
}
.sides {
    padding: 0px 25px;
}
.capped {
    max-width: 1200px;
}
.contact {
background: url('/images/contact-100.jpg') no-repeat top center scroll;
}
.home {
background: url('/images/D00.jpg') no-repeat top center scroll;
}
.marketing {
background: url('/images/marketing-100.jpg') no-repeat top center scroll;
}
.portfolio {
background: url('/images/portfolio-100.jpg') no-repeat center center scroll;
}
.webdesign {
background: url('/images/D01.jpg') no-repeat bottom center scroll;
}
#blog-head {
background: url('/images/blog-100.jpg') no-repeat top center scroll;
background-color: #fff;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
height: 50vh;
padding: 50px 0;
}
#blog-title{
margin-top: -75px;
padding: 0px 0px 10px;
}
#blog-body {
padding: 20px 0px;
}
#blog-body h1{
font-size: 36px;
font-weight: 700;
padding: 0px 0px 5px;
text-transform: uppercase; 
}
#blog-body h2{
font-size: 24px;
font-weight: 600;
padding: 5px 0px;
text-transform: uppercase;  
}
#blog-body h3{
font-size: 22px;
font-weight: 400;
padding: 5px 0px;
color: #324376;
}
#blog-body p {
font-size: 20px;
font-weight: 400;
padding: 0px 0px;
line-height: 1.4; 
}
#blog-end {    
}
#blog-body h4{
font-size: 32px;
font-weight: 700;
margin: 0px 0px 0px 10px;
}
#blog-body h5{
font-size: 64px;
font-weight: 700;
margin: 0px 0px 0px 0px;
}
#page-head {
background-color: #fff;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
height: 50vh;
padding: 50px 0;
}
#page-title{
margin-top: -75px;
padding: 0px 0px 10px;
}
#page-body {
padding: 5px 0px 5px;
}
#page-body h1{
font-size: 36px;
font-weight: 700;
padding: 0px 0px 5px;
text-transform: uppercase; 
}
#page-body h2{
font-size: 24px;
font-weight: 600;
padding: 5px 0px;
text-transform: uppercase;  
}
#page-body h3{
font-size: 22px;
font-weight: 400;
padding: 5px 0px;
color: #324376;
}
#page-body p {
font-size: 20px;
font-weight: 400;
padding: 0px 0px;
line-height: 1.4; 
}
#page-body h4{
font-size: 32px;
font-weight: 700;
margin: 0px 0px 0px 10px;
}
#page-body h5{
font-size: 64px;
font-weight: 700;
margin: 0px 0px 0px 0px;
}
.red {
background-color: #f2545b;
padding: 0px 10px;
position: relative;
color: #fff;
}
.blue {
background-color: #324376;
padding: 0px 5px;
color: white;
}
.btn-default {
background-color: #324376;
border-radius: 0px;
color: white;
font-weight: 400;
text-transform: uppercase;
}
.btn-default:hover{
border-radius: 0px;
color: #324376;
}
.well {
border-radius: 0px;
background-color: #f8f8f8;
}
.well h2{
margin-top: 0px;
}
.form-control {
border-radius: 0px;
}
.services {
padding: 0px 0px 40px !important; 
}
.clients {
padding: 20px 0px 20px !important;
}
.overlay:hover, .overlay:focus {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.90;
    transition: 0.5s ease;
}
/*** 
Navigation 
***/
.navbar {
    background-color: #fff;
    border: none;
    height: 80px;
    padding: 15px 0px;
}
.navbar-nav {
    float: right;
}
.navbar-brand {
    padding: 15px 15px;
    font-size: 24px;
}
.nav>li>a {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 15px 15px;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    border-bottom: 3px solid #324376;
    background-color: white;
}
/***
Pricing table
***/
.pricing {
  position: relative;
  margin-bottom: 15px;
  border: 2px solid #324376;
  border-radius: 2px;
  background-color: white;
}

.pricing-active {
  border: 3px solid #324376;
  margin-top: -10px;
}

.pricing:hover h4 {
  color: #324376;
}

.pricing-head {
  text-align: left;
}

.pricing-head h3,
.pricing-head h6 {
  margin: 0;
  padding-left: 10px;
  line-height: normal;
}

.pricing-head-text h3,
.pricing-head-text h6 {
  margin: 0;
  padding-left: 10px;
  line-height: normal;
}

.pricing-head h3 span,
.pricing-head h6 span {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-style: italic;
}

.pricing-head-text h3 span,
.pricing-head-text h6 span {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-style: italic;
}

.pricing-head h3 {
  font-weight: 300;
  color: #fafafa !important;
  padding: 12px 10px !important;
  font-size: 27px;
  background: #324376;

}

.pricing-head h6 {
  color: #344055;
  padding: 5px 10px;
  font-size: 54px;
  font-weight: 300;
  text-align: right;
  background: #f8f8f8;
  border-bottom: solid 1px #f5f9e7;
}

.pricing-head-text h6 {
  color: #344055;
  padding: 5px 10px;
  font-size: 50px;
  font-weight: 300;
  text-align: right;
  background: #f8f8f8;
  border-bottom: solid 1px #f5f9e7;
}

.pricing-head h6 i {
  top: -8px;
  font-size: 28px;
  font-style: normal;
  position: relative;
}

.pricing-head h6 span {
  top: -10px;
  font-size: 14px;
  font-style: normal;
  position: relative;
}

.pricing-head-text h6 span {
  top: -10px;
  font-size: 14px;
  font-style: normal;
  position: relative;
}
.pricing-color {
    background:#f8f8f8;
}
/*Pricing Content*/
.pricing-content li {
  color: #324376;
  font-size: 18px;
  padding: 8px 10px;
  border-bottom: solid 1px #f5f9e7;
}

/*** 
Contact 
***/
#contact {
    background-color: #324376;
    padding: 20px 0px;
    color: white;
}
#contact p {
    color: white;
}
#contact h2 {
    color: white;
    font-size: 3em;
    text-transform: uppercase;
}
#contact h3 {
    color: white;
    font-size: 2em;
    text-transform: uppercase;
}
/*** 
Footer 
****/
#footer {
    background-color: #fff;
    padding: 20px 0px;
}
#footer p {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
#footer a {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#footer li {
    display: inline;
    line-height: 20px;
    padding: 0 5px;
}
@media (min-width: 1600px) {
    .container {
        width: 1600px;
    }
@media (min-width: 1900px) {
    .container {
        width: 1900px;
    }
}