@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Open+Sans');
h1, h2, h3, h4, h5 {
    color: #324376;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1 {
    font-size: 8em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
}
h2 {
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
h3 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 5px;
    color: white;
}
a, li, p {
    font-size: 20px;
    color: #324376;
}
body, html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
body {
    margin-top: 50px;
}
.container-fluid, .container {
    padding-right: 0px;
    padding-left: 0px;
}
.sides {
    padding: 0px 25px;
}
.capped {
    max-width: 1200px;
}
.brand-logo {
    width: 15em;
    margin-top: -0.8em;
}
.block {
    padding: 10px 0px;
}
.block-one {
    color: #324376;
    position: relative;
    margin-bottom: -25px;
    margin-left: 10px;
}
.block-two {
    margin-top: -20px;
    position: relative;
}
.block-four {
    margin-top: 10px;
    position: relative;
}
.blue {
    background-color: #324376;
    padding: 0px 10px;
    color: white;
}
.white {
    background-color: #fff;
    padding: 0px 10px;
    position: relative;
    color: #324376;
}
.block-three {
    margin-top: -100px;
    margin-left: 10px;
    position: relative
}
.block-one {
    position: relative;
    margin-bottom: -25px;
    margin-left: 10px;
}
.thin {
    font-weight: 700;
}
h1.block {
    color: #fff;
}
.align-right {
    text-transform: capitalize;
}

/* Navigation */
.navbar {
    background-color: #fff;
    border: none;
    height: 80px;
    padding: 15px 0px;
}
.navbar-nav {
    float: right;
}
.navbar-brand {
    padding: 15px 15px;
    font-size: 24px;
}
.nav>li>a {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 15px 15px;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    border-bottom: 3px solid #324376;
    background-color: white;
}

/* Home */
#home {
    background: url('/images/D00.jpg') no-repeat top center scroll;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 500px;
    padding: 50px 0;
}
#page-one {
    background: url('/images/D01.jpg') no-repeat top center scroll;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 500px;
    padding: 50px 0;
}
#page-two {
    background: url('/images/D02.jpg') no-repeat top center scroll;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 500px;
    padding: 50px 0;
}
.head-one {
    padding-top: 380px;
}
#spacing {
    background-color: white;
    height: 350px;
}
#spacing-two {
    background-color: white;
    height: 100px;
}
#services-one {
    background-color: #fff;
    height: 500px;
}
#services-one a {
    font-size: inherit;
}
#services-two {
    background-color: #fff;
    height: 600px;
}
.overlay:hover , .overlay:focus {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.75;
    transition: 0.5s ease;
}
#space {
    height: 150px;
    background-color: #324376;
}
h2.block-two {
    font-size: 4em;
}
h3.block-three {
    font-size: 2em;
}
h2.block-four {
    font-size: 4em;
}
.block-one-page {
    margin-left: 10px;
}

/* Clients */
#clients {
    height: 125px;
}
#clients ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#clients li {
    display: inline;
    line-height: 20px;
    padding: 0 5px;
}
/* Panel */
.panel {
    border-radius: 2px;
}
.panel-primary>.panel-heading {
    background-color: #324376;
    border-color: transparent;
    color: white;
    padding: 5px 10px;
}
.panel-heading h4 {
    color: white;
    font-weight: 700;
    font-size: 1.5em;
}
/*Pricing Content*/
.pricing-content li {
  color: #888;
  font-size: 12px;
  padding: 7px 15px;
  border-bottom: solid 1px #f5f9e7;
}
/* Contact */
#contact {
    background-color: #324376;
    padding: 20px 0px;
    color: white;
}
#contact p {
    color: white;
}
#contact h2 {
    color: white;
    font-size: 3em;
    text-transform: uppercase;
}
#contact h3 {
    font-size: 2em;
    text-transform: uppercase;
}

/* Footer */
#footer {
    background-color: #fff;
    padding: 20px 0px;
}
#footer p {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
#footer a {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#footer li {
    display: inline;
    line-height: 20px;
    padding: 0 5px;
}

/***
Pricing table
***/
.pricing {
  position: relative;
  margin-bottom: 15px;
  border: 2px solid #324376;
  border-radius: 2px;
  background-color: white;
}

.pricing-active {
  border: 3px solid #324376;
  margin-top: -10px;
}

.pricing:hover h4 {
  color: #324376;
}

.pricing-head {
  text-align: left;
}

.pricing-head h3,
.pricing-head h4 {
  margin: 0;
  padding-left: 10px;
  line-height: normal;
}

.pricing-head-text h3,
.pricing-head-text h4 {
  margin: 0;
  padding-left: 10px;
  line-height: normal;
}

.pricing-head h3 span,
.pricing-head h4 span {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-style: italic;
}

.pricing-head-text h3 span,
.pricing-head-text h4 span {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-style: italic;
}

.pricing-head h3 {
  font-weight: 300;
  color: #fafafa;
  padding: 12px 10px;
  font-size: 27px;
  background: #324376;

}

.pricing-head h4 {
  color: #344055;
  padding: 5px 10px;
  font-size: 54px;
  font-weight: 300;
  text-align: right;
  background: #f8f8f8;
  border-bottom: solid 1px #f5f9e7;
}

.pricing-head-text h4 {
  color: #344055;
  padding: 5px 10px;
  font-size: 50px;
  font-weight: 300;
  text-align: right;
  background: #f8f8f8;
  border-bottom: solid 1px #f5f9e7;
}

.pricing-head h4 i {
  top: -8px;
  font-size: 28px;
  font-style: normal;
  position: relative;
}

.pricing-head h4 span {
  top: -10px;
  font-size: 14px;
  font-style: normal;
  position: relative;
}

.pricing-head-text h4 span {
  top: -10px;
  font-size: 14px;
  font-style: normal;
  position: relative;
}

/*Pricing Content*/
.pricing-content li {
  color: #324376;
  font-size: 18px;
  padding: 8px 10px;
  border-bottom: solid 1px #f5f9e7;
}

/*Pricing Footer*/
.pricing-footer {
  color: #777;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 10px 20px;
}
.btn {
    border-radius: 2px;
}

@media (min-width: 1600px) {
    .container {
        width: 1600px;
    }
@media (min-width: 1900px) {
    .container {
        width: 1900px;
    }
}