---
layout: default
title: Home
---

<!-- Home Section -->
<section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="images/hero-bg.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

    <div class="grid-overlay">
        <div></div>
    </div>

    <div class="home-content">

        <div class="row home-content__main">

            <h1>
                <img src="{{site.ur}}/images/H1.svg" alt="Homepage">
            </h1>

            <h2>
            Just great brand design & websites. 
            <br>
            Also super cheap.
            </h2>

            <div class="home-content__button">
                <a href="#specials" class="smoothscroll btn btn--primary btn--large">
                    Current specials
                </a>
                <a href="#s-contact" class="smoothscroll btn btn--large">
                    Contact Us
                </a>
            </div>

        </div> <!-- end home-content__main -->

        <div class="home-content__scroll">
            <a href="#about" class="scroll-link smoothscroll">
                Scroll
            </a>
        </div>

    </div> <!-- end home-content -->


</section> <!-- end s-home -->

<!-- ABOUT -->
<section id="about" class="s-about target-section">

        <div class="row section-header bit-narrow aos-init aos-animate" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">SERVICES</h3>
                <h1 class="display-1">
                We love the process of designing brands. From logos to websites to social media, we are ready to help you create or refine your brand.       
                </h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row bit-narrow aos-init aos-animate" data-aos="fade-up">
            <div class="col-full">
                <p class="lead">
                We like to work fast and structured, this is why we use a market-research driven framework. This means we do alot of market research into mutiple type of companies and brands. We do this to understand the current branding, marketing trends and industry standarts. This is why we can help you create designs for any type of brand, person or organisation in record time.   
                </p>
            </div>
        </div> <!-- end about-desc -->

        <div class="row bit-narrow">
                
            <div class="about-process process block-1-2 block-tab-full">

                <div class="col-block item-process aos-init aos-animate" data-aos="fade-up">
                    <div class="item-process__text">
                        <h4 class="item-title">Logo Design & Redesign</h4>
                        <p>
                        We all know iconic logos such as Nike, Mercedes and Mc Donalds. Your logo is the face of your brand or organisation and we know how to create a great logo for your brand or organisation.      
                        </p>
                    </div>
                </div>
                <div class="col-block item-process aos-init aos-animate" data-aos="fade-up">
                    <div class="item-process__text">
                        <h4 class="item-title">Simple & Fast Websites</h4>
                        <p>
                        Your website is your own multipurpose platform to deliver information about your organisation, products and services. We are specialized in creating beautiful, simple and fast websites that works on all devices.
                        </p>
                    </div>
                </div>
                <div class="col-block item-process aos-init aos-animate" data-aos="fade-up">
                    <div class="item-process__text">
                        <h4 class="item-title">Marketing Content</h4>
                        <p>
                        Struggling to create marketing content? We can fix that very quick. Let us help you connect with your audience with beauliful designs and images. We help businesses to reach the level of marketing content of their competitors for a fraction of the price. 
                        </p>
                    </div>
                </div>
                <div class="col-block item-process aos-init aos-animate" data-aos="fade-up">
                    <div class="item-process__text">
                        <h4 class="item-title">Take Over</h4>
                        <p>
                        From organisations that are starting from zero to businesses looking to outsource their marketing we are ready for every challenge. We will take the burden of branding and creating design out of your hands. 
                        </p>
                    </div>
                </div>

            </div> <!-- end process -->

        </div> <!-- end row -->

    </section>

{% include karnaval.html %}

{% include portfolio.html %}
    

<!-- Contact -->
<section id="s-contact">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>CONTACT US</h5>
   			<h2>We are excited to help you design your brand.</h2>

   			<p class="lead"></p>

   		</div> 
   	</div> <!-- /section-intro -->

   	<div class="row contact-info">

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-pin"></i>
   			</div>

   			<h5>Location</h5>

   			<p>
            Spaces Curacao<br>
            </p>

   		</div>

   		<div class="col-four tab-full collapse">

   			<div class="icon">
   				<i class="icon-mail"></i>
   			</div>

   			<h5>Email Us</h5>

   			<p>contact@conceptcuracao.com			     
			   </p>

   		</div>

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-phone"></i>
   			</div>

   			<h5>Phone Us</h5>

   			<p>
			   	Mobile: (+599) 9 511 6403<br>
			   </p>

   		</div>
   		
   	</div> <!-- /contact-info -->
		
	</section>
