<!-- Footer -->
<section id="footer">
	<div class="container capped">
		<div class="row">
			<div class="col-lg-6 col-sm-6">
				<ul>
					<li><a href="{{site.url}}">HOME</a></li>
					<li><a href="{{site.url}}/webdesign">WEBDESIGN</a></li>
					<li><a href="{{site.url}}/marketing">MARKETING</a></li>
					<li><a href="{{site.url}}/portfolio">PORTFLIO</a></li>
					<li><a href="{{site.url}}/contact">CONTACT</a></li>
					<li><a href="{{site.url}}/blog">BLOG</a></li>
					<li><a href="https://www.facebook.com/Conceptcuracao"><i class="fa fa-facebook fa-1x" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="col-lg-6 col-sm-6">
				<p>Copyright &copy; ConceptCuracao 2017</p>
			</div>
		</div>
	</div>
</section>
