<!-- Navigation -->
<header class="s-header">

	<div class="header-logo">
		<a class="site-logo" href="#">
			<img type="image/svg+xml" src="{{site.url}}/images/logo2.svg" alt="logo">
		</a>
	</div> <!-- end header-logo -->

	<nav class="header-nav">

		<a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

		<h3>Navigate to</h3>

		<div class="header-nav__content">
			
			<ul class="header-nav__list">
				<li><a class="smoothscroll"  href="#home" title="home">Home</a></li>
				<li><a class="smoothscroll"  href="#specials" title="specials">Speacials</a></li>
				<li><a class="smoothscroll"  href="#services" title="services">Services</a></li>
				<li><a class="smoothscroll"  href="#works" title="works">Portfolio</a></li>
				<li><a class="smoothscroll"  href="#s-contact" title="contact">Contact</a></li>
			</ul>

			<p>We are a strategic marketing agency based in Curaçao.
				We beautiful brand design content and websites.
				Driven by market-research.</p>

			<ul class="header-nav__social">
				<li>
					<a href="https://www.facebook.com/conceptcuracao/"><i class="fab fa-facebook"></i></a>
				</li>
				<!--<li>
					<a href="#0"><i class="fab fa-twitter"></i></a>
				</li>-->
				<li>
					<a href="https://www.instagram.com/conceptcuracao/"><i class="fab fa-instagram"></i></a>
				</li>
				<li>
					<a href="#0"><i class="fab fa-behance"></i></a>
				</li>
				<!--<li>
					<a href="#0"><i class="fab fa-dribbble"></i></a>
				</li>-->
			</ul>

		</div> <!-- end header-nav__content -->

	</nav> <!-- end header-nav -->

	<a class="header-menu-toggle" href="#0">
		<span class="header-menu-icon"></span>
	</a>

</header>
