<!-- ABOUT -->
<section id="specials" class="s-about s-about2 target-section">

        <div class="row section-header bit-narrow aos-init aos-animate" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">SPECIALS</h3>
                <h1 class="display-1">
                Design should affordable, checkout our specials.       
                </h1>
            </div>
        </div> <!-- end section-header -->


        <div class="row bit-narrow">
                
            <div class="about-process process block-1-2 block-tab-full">

                <div class="col-block item-process aos-init aos-animate" data-aos="fade-up">
                    <a href="" >
                        <img src="images/karnavaladg.jpg" alt="">
                    </a>
                </div>


                <div class="col-block item-process aos-init aos-animate" data-aos="fade-up">
                    <div class="item-process__text">
                        <h4 class="item-title">Karnaval Specials</h4>
                        <p>
                            This is our best offer ever for a new website. Get a beautiful, fast and simple website based on a one-page design. This offer is valid for registration before March 5th for local brands, companies or organisations. This is your chance to own your own online platform. Let people find you online and put all your information in one place. Press the button below to register.
                            </p><ul class="pricing-content">
                            <li>One-page Design Website</li>
                            <li>Light written content</li>
                            <li>Monthly Updates</li>
                            <li>Maintenance for two years.(Domain, SEO, Hosting)</li>
                            <li>Perfect for restaurants, foundation, shops, medical professionals, one product or service business.</li>
                            </ul>
                        <a href="https://conceptcuracao.typeform.com/to/QFBDW1" class="smoothscroll btn btn--primary btn--large">
                            Register Here
                        </a>
                    </div>

                </div>

                </div>

            </div> <!-- end process -->

        </div> <!-- end row -->

    </section>
