<!-- works -->
<section id="works" class="s-works target-section">

<div class="row section-header  target-section" data-aos="fade-up">
    <div class="col-full">
        <h3>PORTFOLIO</h3>
        <h1>
        Check out our best logo, sites & designs.
        </h1>
    </div>
</div> <!-- end section-header -->

<div class="row masonry-wrap">

    <div class="masonry">

        <div class="masonry__brick" data-aos="fade-up">
            <div class="item-folio">
                    
                <div class="item-folio__thumb">
                    <a href="images/portfolio/gallery/rosalia.jpg" class="thumb-link" title="" data-size="1050x1050">
                        <img src="images/portfolio/rosalia.jpg"  alt="">
                    </a>
                </div>

                <div class="item-folio__text">
                    <h3 class="item-folio__title">
                        
                    </h3>
                    <p class="item-folio__cat">
                        Rozalia
                    </p>
                </div>

                <a href="3" class="item-folio__project-link" title="Project link">
                    <i class="icon-link"></i>
                </a>

                <div class="item-folio__caption">
                    <p></p>
                </div>

            </div>
        </div> <!-- end masonry__brick -->

        <div class="masonry__brick" data-aos="fade-up">
            <div class="item-folio">
                    
                <div class="item-folio__thumb">
                        <a href="images/portfolio/gallery/logo-hotel.jpg" class="thumb-link" title="" data-size="1050x1050">
                            <img src="images/portfolio/logo-hotel.jpg" alt="">
                    </a>
                </div>

                <div class="item-folio__text">
                    <h3 class="item-folio__title">
                        
                    </h3>
                    <p class="item-folio__cat">
                        South Harbour
                    </p>
                </div>

                <a href="#" class="item-folio__project-link" title="Project link">
                    <i class="icon-link"></i>
                </a>

                <div class="item-folio__caption">
                    <p></p>
                </div>

            </div>
        </div> <!-- end masonry__brick -->

        <div class="masonry__brick" data-aos="fade-up">
            <div class="item-folio">
                    
                <div class="item-folio__thumb">
                        <a href="images/portfolio/gallery/logo-capa.jpg" class="thumb-link" title="" data-size="1050x1050">
                            <img src="images/portfolio/logo-capa.jpg"  alt="">
                    </a>
                </div>

                <div class="item-folio__text">
                    <h3 class="item-folio__title">
                        
                    </h3>
                    <p class="item-folio__cat">
                        La Capa
                    </p>
                </div>

                <a href="#" class="item-folio__project-link" title="Project link">
                    <i class="icon-link"></i>
                </a>

                <div class="item-folio__caption">
                    <p></p>
                </div>

            </div>
        </div> <!-- end masonry__brick -->

        <div class="masonry__brick" data-aos="fade-up">
            <div class="item-folio">
                    
                <div class="item-folio__thumb">
                        <a href="images/portfolio/gallery/logo-travel.jpg" class="thumb-link" title="" data-size="1050x1050">
                            <img src="images/portfolio/logo-travel.jpg" alt="">
                    </a>
                </div>

                <div class="item-folio__text">
                    <h3 class="item-folio__title">
                        
                    </h3>
                    <p class="item-folio__cat">
                        Neotravel
                    </p>
                </div>

                <a href="3" class="item-folio__project-link" title="Project link">
                    <i class="icon-link"></i>
                </a>

                <div class="item-folio__caption">
                    <p></p>
                </div>

            </div>
        </div> <!-- end masonry__brick -->

        <div class="masonry__brick" data-aos="fade-up">
            <div class="item-folio">
                    
                <div class="item-folio__thumb">
                        <a href="http://elgauchocuracao.com" class="thumb-link" title="s" data-size="1050x1050">
                            <img src="images/portfolio/web-gaucho.jpg"  alt="">
                    </a>
                </div>

                <div class="item-folio__text">
                    <h3 class="item-folio__title">
                        
                    </h3>
                    <p class="item-folio__cat">
                        El Gaucho
                    </p>
                </div>

                <a href="http://elgauchocuracao.com" class="item-folio__project-link" title="Project link">
                    <i class="icon-link"></i>
                </a>

                <div class="item-folio__caption">
                    <p></p>
                </div>

            </div>
        </div> <!-- end masonry__brick -->

        <div class="masonry__brick" data-aos="fade-up">
            <div class="item-folio">
                    
                <div class="item-folio__thumb">
                        <a href="http://ilfornocuracao.com" class="thumb-link" title="" data-size="1050x1050">
                            <img src="images/portfolio/web-pizza.jpg" alt="">
                    </a>
                </div>

                <div class="item-folio__text">
                    <h3 class="item-folio__title">
                        
                    </h3>
                    <p class="item-folio__cat">
                        Il Forno
                    </p>
                </div>

                <a href="http://ilfornocuracao.com" class="item-folio__project-link" title="Project link">
                    <i class="icon-link"></i>
                </a>

                <div class="item-folio__caption">
                    <p></p>
                </div>

            </div>
        </div> <!-- end masonry__brick -->

        <div class="masonry__brick" data-aos="fade-up">
                <div class="item-folio">
                        
                    <div class="item-folio__thumb">
                            <a href="http://bodylasertherapy.com" class="thumb-link" title="" data-size="1050x1050">
                                <img src="images/portfolio/web-body.jpg" alt="">
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            
                        </h3>
                        <p class="item-folio__cat">
                            Body Laser Theraapy
                        </p>
                    </div>

                    <a href="http://bodylasertherapy.com" class="item-folio__project-link" title="Project link">
                        <i class="icon-link"></i>
                    </a>

                    <div class="item-folio__caption">
                        <p></p>
                    </div>

                </div>
            </div> <!-- end masonry__brick -->

    </div> <!-- end masonry -->

</div> <!-- end masonry-wrap -->

</section> <!-- end s-works -->